<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&family=Rubik&display=swap" rel="stylesheet">
</head>
<body>
  <div id = "body">
    {% include 'header.html' %}
    <div id = "content-2">
      {% include 'sideNavbar.html' %}
      <div id = "container">
        {% block content %}{% endblock %}
      </div>
    </div>
  </div>
</body>
</html>