<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&family=Rubik&display=swap" rel="stylesheet">
</head>
  {% include "header.html" %}
  {% include "sideNavbar.html" %}
<body>
<div class="library_content">
  <h1 class="total_games">Search Results for "{{ query }}"</h1>
  {% for result in results %}
  <a class="game-container" href="{{url_for('gameDescription', game_id=result.game_id)}}">
    <div class="game-item">
      <span class="game-title">{{result.title}}</span>
      <img class="game-image" alt="Cover Image" src="{{ result.image_url }}">
      <span class="game-info">${{result.price}}</span>
      <span class="game-info">Release Date: {{result.release_date}}</span>
    </div>
  </a>
  {% endfor %}
</div>
</body>
</html>