<!DOCTYPE html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
</head>
<html lang="en">
  {% include "header.html" %}
  {% include "sideNavbar.html" %}
<body>
    <div id = "introduction">
        <p>
            Welcome to our assignment website! Our user-centric interface offers seamless navigation through an
            extensive array of games, each accompanied by comprehensive meta-information including titles, genres,
            and publishers. The platform's refined search functionality ensures efficient discovery of both classic
            titles and the latest releases.
            <br>
            <br>
            Registering an account and logging in unveils an array of personalized features. Users can tailor their
            experience by favoriting games, constructing curated wishlists, and engaging in an interactive journey
            through the world of digital gaming.
            <br>
            <br>
            Furthermore, our website facilitates meaningful community interactions. Users can leave comments,
            offer ratings, and engage with fellow enthusiasts, fostering a shared space for discourse.
            <br>
            <br>
            Join us as we redefine the parameters of digital gaming exploration and
            interaction, offering a professional and streamlined platform for enthusiasts and connoisseurs alike.
        </p>
    </div>

</body>
</html>