{% extends 'layout.html' %}
{% block content %}
<div class="form-container">
    <div class="formwrapper">
        <h1 class="form-title">{{ title }}</h1>
        <form method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }}
            <div class="form-field">
                <label class="form-label">{{ form.user_name.label }}</label>
                {{ form.user_name }}
                {% if form.user_name.errors or user_name_error_message is not none %}
                    <ul class="form-errors">
                        {% if user_name_error_message is not none %}
                            <li>
                                {{ user_name_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.user_name.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                <label class="form-label">{{ form.password.label }}</label>
                {{ form.password }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="form-errors">
                        {% if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit(class="form-submit") }}
        </form>
    </div>
</div>
{% endblock %}